<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %> 

<body>

	<%- include('./partials/headerLogueado') %> 	

	<!-- product detail -->
	
	
	<div class="container products-wrapper">
	
		<div class="d-flex align-items-center">
			
			
			<h2 class="products-title"> <%= auto.Nombre_del_producto %>  </h2> 

			
		
			<p class="product-detail-description">

				<a href="/products/product-add">Editar</a>
			</p>
		</div>

		
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= auto.imagen %> " alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= auto.descripcion %> 
						</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < lista.length; i++ ) { %>						
						
						<article>
							<img src="<%= lista[i].imagen_de_perfil %> " alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile"><%= lista[i].nombre_de_usuario %> </a> </strong>
								 <%= lista[i].texto_del_comentario %> </p>
							</div>
						</article>
						<% } %>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	<!-- /product detail -->

	<%- include('./partials/footer') %> 

</body>	
</html>