<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %> 

<body>

	<% if (logueado) { %>
		<%- include('./partials/headerLogueado')%>
		<% } else { %>
		<%- include('./partials/header')%>
		<% } %>

	<!-- product detail -->
	
	
	<div class="container products-wrapper">
	
		<div class="d-flex align-items-center">
			
			
			<h2 class="products-title"> <%= producto.marca %>  </h2> 

				<% if (logueado && miUsuario.id==producto.user_id) { %>
					<p class="product-detail-description">

						<a class="editarProd" href="/products/edit/<%= producto.id %>" >Editar </a>

					</p>

					<form action="/products/delete/<%= producto.id %>" method="POST">
						<input type="hidden" name="usuario_id" value="<%= producto.user_id %> ">

						<button type="submit" class="btn btn-outline-light"> 
							<i class="fas fa-trash" style="color: #B99871;"></i>
						</button>

					</form>
					
				<% } %>
	
		</div>

		<h3>Producto de: <a href="/profile/<%= producto.usuario.id %>"><%= producto.usuario.name %></a> </h3>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					
					<p class="product-detail-description">
						<%= producto.model %> 
						</p>
						<img src="../public/images/products/<%=producto.foto %> " alt="" class="product-detail-img">
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < lista.length; i++ ) { %>						
						
						<article>
							<img src="<%= lista[i].foto %> " alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profiles"><%= lista[i].name %> </a> </strong>
								 <%= lista[i].comment %> </p>
							</div>
						</article>
						<% } %>

					</section>
					<form action="/products/comment" method="post">
						<input type="hidden" id="id" name="id" value="<%=producto.id%>">
						<input class="form-input" type="text" id="comment" name="comment" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	<!-- /product detail -->

	<%- include('./partials/footer') %> 

</body>	
</html>