<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>



	<body>
		<% if (logueado) { %>
			<%- include('./partials/headerLogueado')%>
			<% } else { %>
			<%- include('./partials/header')%>
			<% } %>

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Editar mi perfil</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						<form action="/profiles/edit/<%=usuario.id%>" method="post">
							<h1>Editar mi Perfil</h1>
							<p>
								<label for="email"> CORREO ELECTRONICO</label>
								<input type="text" name="email" id="email" value="<%=usuario.email%>">
							</p>
							<p>
								<label for="username">USUARIO</label>
								<input type="text" name="username" id="username" value="<%=usuario.username%>">
							</p>
							<p>
								<label for="name">NOMBRE</label>
								<input type="text" name="name" id="name" value="<%=usuario.name%>">
							</p>
							<p>
								<label for="lastname">APELLIDO</label>
								<input type="text" name="lastname" id="lastname" value="<%=usuario.lastname%>">
							</p>
							<p>
								<label for="date_of_birth"> FECHA DE NACIMIENTO</label>
								<input type="date" id="date_of_birth" name="date_of_birth" value="<%=usuario.date_of_birth%>"
									min="1966-01-01" max="2022-12-31">
							</p>
							<p>
								<label for="foto_perfil">FOTO DE PERFIL</label>
								<input type="file" />
							</p>
							<p>
								<label for="contrasenia">CONTRASEÑA</label>
								<input type="password" name="contrasenia" id="contrasenia">
							</p>
							<button type="submit" class="boton"> Guardar cambios</button>
						</form>


		<%- include('./partials/footer') %>
	</body>

</html>